@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 63%;
}

#net {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
body {
  font-family: system-ui, "Segoe UI", sans-serif;
  color: #eee;
  height: 100vh;
}
/*copied*/
.content {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 150px;
  text-align: center;
  color: #fff;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: auto; /* Let the container height adjust automatically */
  width: 60vw; /* Use viewport width instead of height for better scalability */
  max-width: 100%; /* Ensure it doesn’t overflow the viewport */
  padding: 14px; /* Add some padding for spacing */
  z-index: 2000;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.btn {
  padding: 3px;
  font-size: 15.6px;
  font-weight: 600;
  margin: 5px;
  outline: none;
  height: 42px;
  width: 135px;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: hsl(241, 91%, 37%);
  z-index: 2000;
  color: #eee;
  transition: background-color 0.3s ease-in, color 0.2s ease-in,
    border 0.3s ease-in;
}
.btn:hover {
  background-color: hsla(187, 82%, 49%, 0.856);
  color: #111;
  border: 2px solid hsla(187, 100%, 12%, 0.76);
}

.count {
  font-size: 30px;
  margin: 15px;
  color: hsla(187, 82%, 49%, 0.856);
  z-index: 2000;
}

.advice {
  font-size: 40px;
  margin: 20px;
  /* color: hsla(0, 0%, 100%, 98%); */
  color: hsla(0, 100%, 67%, 0.98);
  z-index: 2000;
  text-align: center;
  width: 100%;
}

.headerad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 65vh;
  margin: 0 auto;
  padding: 20px;

  z-index: 1000;
}

@media (max-width: 400px) {
  .btn {
    padding: 3px;
    font-size: 15.6px;
    font-weight: 600;
    margin: 5px;
    outline: none;
    height: 42px;
    width: 130px;
    text-align: center;
    border: none;
    border-radius: 20px;
    background-color: hsl(241, 91%, 37%);
    z-index: 2000;
    color: #eee;
    transition: background-color 0.3s ease-in, color 0.2s ease-in,
      border 0.3s ease-in;
  }
  .count {
    font-size: 22px;
    margin: 15px;
    color: hsla(187, 82%, 49%, 0.856);
    z-index: 2000;
  }

  .advice {
    font-size: 30px;
    margin: 20px;
    /* color: hsla(0, 0%, 100%, 98%); */
    color: hsla(0, 100%, 67%, 0.98);
    z-index: 2000;
    text-align: center;
    width: 100%;
  }
}

@media (min-width: 400px) {
  .btn {
    padding: 3px;
    font-size: 15.6px;
    font-weight: 600;
    margin: 5px;
    outline: none;
    height: 42px;
    width: 135px;
    text-align: center;
    border: none;
    border-radius: 20px;
    background-color: hsl(241, 91%, 37%);
    z-index: 2000;
    color: #eee;
    transition: background-color 0.3s ease-in, color 0.2s ease-in,
      border 0.3s ease-in;
  }
  .count {
    font-size: 25px;
    margin: 15px;
    color: hsla(187, 82%, 49%, 0.856);
    z-index: 2000;
  }

  .advice {
    font-size: 25px;
    margin: 20px;
    /* color: hsla(0, 0%, 100%, 98%); */
    color: hsla(0, 100%, 67%, 0.98);
    z-index: 2000;
    text-align: center;
    width: 100%;
  }
}
